#first {
	background:url(images/header_bg.jpg);
	color: #ffffff;
	height: 400px;
	background-size: cover;
	background-position: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800; 
}
#first p {
	text-align: center;
	font-size: 24px;
}
#first button {
	background-color: #f9e42e;
	border-radius: 5px;
	font-size: 14px;
	padding: 35px;
	display: block;
	margin: auto;
}